@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../Images/carbon%20background.png);
}

#textarea {
border:1px solid #999999;
outline:none;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:5px;
}
#textarea:focus {
border:1px solid #7dbef1;
box-shadow:0 0 10px #7dbef1;
-moz-box-shadow:0 0 10px #7dbef1;
-webkit-box-shadow:0 0 10px #7dbef1;
}
.table_text {
	background-image:url(../Images/25p_white.png);
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#000000;
	text-align:left;
	margin-top:-94.5px;
	margin-left:-150px;
	left: 50%;
	top: 50%;
	position:absolute;
	border-radius:10px;
}
